@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
* {
    box-sizing: border-box;
  }

  body {
    font-family: 'sarala', sans-serif
  }

  a {
    color:rgba(184, 134, 11, 1.0);
    text-decoration: none;
  }  

  /* Style the header */
  header {
    background-color: rgb(0, 0, 0);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(235, 252, 0);
    font-family: 'Righteous', cursive;
    border-bottom:  1px solid gold;
  }

  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 30%;
     
    background: rgb(0, 0, 0);
    padding: 20px;
    border-top: solid gold;
  }

  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  

  article {
    float: left;
    padding: 30px;
    width: 70%;
    background-color: #f1f1f1;
  }

  /* Clear floats after the columns */
  section::after {
    background: #ccc;
    content: "";
    display: table;
    clear: both;
  }

  /* Style the footer */
  footer {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    color: rgb(235, 252, 0);
  }

  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }