*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

header  {
    padding: 10px 0;
    display: flex;
    background-color: rgb(168, 168, 168);
}



.center  {
    text-align: center;
    padding: 15px 0px 15px 40px ;
}

h2 {
    font-size: 25px;
}

.nao-ordenada {
    font-size: 15px ;
    
} 

