h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90%;
}

 .home {
    display: flex;
}

a  {
    margin: auto 0;
}

button {
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #0677b8;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
} 


table  {
    background: #ffffff;
    width: 100%;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table tr {
    border: 1px solid #757575;
}

table tbody tr :hover {
    background-color: rgba(0, 0, 255, 0.2)
}

table td {
 padding: 1rem; 
 border: 1px solid #757575;
}

table th {
    background-color: #0677b8;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}

.produtos-alpha {
    background-color: #a8a7a7;
    font-weight: bold;
}

.tabela-centro tfoot td{
    font-weight: bold;
    background: #a8a7a7;
}

footer{
    background-color: #0677b8 ;
    color: #ffffff;
    padding: 0.5px;
    text-align: center;
    border: 1px solid #757575;

}
